<div class="pushright">
    <h2>login</h2>
    <form action="action_page.php" method="post">
          
            <div class="container">
              <label for="username" ><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="username">
          
              <label for="password" ><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password">
          
              <button type="submit" (click)="login()">Login</button>
            </div>

          </form> 
</div>
