<div *ngIf="addedItem == null" class="pushright" >
<h2>Add new item</h2>
<form>
    Name: <input type="text" name="fname" [(ngModel)]="item.name"><br>
    Description: <input type="text" name="lname" [(ngModel)]="item.description"><br>
    Price: <input type="text" name="email" [(ngModel)]="item.price"><br>
    Amount: <input type="text" name="adress" [(ngModel)]="item.amount"><br>
    <input type="submit" value="Submit" (click)="addItem()">
  </form>
</div> 
  <div *ngIf="addedItem != null" class="pushrightanddown">
    <h2>New item added:</h2>
    <ul>
        <li>name: {{addedItem.name}}</li>
        <li>description: {{addedItem.description}}</li>
        <li>price: {{addedItem.price}}</li>
        <li>amount: {{addedItem.amount}}</li>
    </ul>
</div>
<div *ngIf="items != null && addedItem == null" class="allitems">
  <div  class="pushright">
    <h2>All items</h2>
    <div *ngFor="let item of items" class="items">
            <table>
                    <tr>
                      <td>Name</td>
                      <td>{{item.name}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{item.description}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{item.price}}</td>
                    </tr>
                    <tr>
                        <td>Left in stock</td>
                        <td>{{item.amount}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><input type="submit" value="update" (click)="updateItem(item.id)"> </td>
                    </tr>
            </table>     
              
        </div>
      </div>
  </div>