<div class="pushright" *ngIf="getRole() == 'USER'">
<h2>new order</h2>
<p *ngIf="items == null">loading..</p>
<div *ngIf="orderPlaced == null">
    <div *ngIf="items != null">
        <div *ngFor="let item of items" class="items">
                <table>
                        <tr>
                          <td>Name</td>
                          <td>{{item.name}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{item.description}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{item.price}}</td>
                        </tr>
                        <tr>
                            <td>Left in stock</td>
                            <td>{{item.amount}}</td>
                        </tr>
                        <tr>
                            <td><input type="number" [attr.id]="item.id" name="amount" min="1" max="100" placeholder="1"></td>
                             <td><button (click)="addToCart(item.id)">add</button></td>
                        </tr>
                </table>
                
                
            </div>
        </div>
        <div *ngIf="isCardNotEmpty()">
            <h3>Shopping card</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
                
               <tr *ngFor="let itemgroup of shoppingCard">
                   <td>
                        {{itemgroup.item.name}}
                   </td>
                   <td>
                        {{itemgroup.amount}}
                   </td>
               </tr>
           
            </table>
            <button (click)="placeOrder()">place order</button>
        </div>
    </div>
    <div *ngIf="orderPlaced != null">
        <h3>order placed!</h3>
        <ul *ngFor="let itemgroup of orderPlaced.items">
            <li>{{itemgroup.item.name}}</li>
            <li>price : {{itemgroup.item.price}}</li>
            <li>amount : {{itemgroup.amount}}</li>
            <li> shipping date : {{itemgroup.shippingDate}}</li>
        </ul>
        <p>total price : {{orderPlaced.totalPrice}}</p>
    </div>
</div>
<div class="pushright" *ngIf="getRole() == 'ADMIN'">
    <div *ngFor = "let itemGroup of itemsThatNeedToBeShipped">
            <p>{{itemGroup[0].amount}}</p>
    </div>
</div>
    