<h2>new order</h2>
<p *ngIf="items == null">loading..</p>
<div *ngIf="orderPlaced == null">
<div *ngIf="items != null">
    <ul *ngFor="let item of items" style="list-style-type:none">
            <li>{{item.name}}</li>
            <li>{{item.description}}</li>
            <li>price: {{item.price}}</li>
            <li>left in stock: {{item.amount}}</li>
            <input type="number" [attr.id]="item.id" name="amount"
            min="1" max="100" placeholder="1">
            <button (click)="addToCart(item.id)">add</button>
        </ul>
    </div>
    <div *ngIf="isCardNotEmpty()">
        <h3>Shopping card</h3>
        <ul *ngFor="let itemgroup of shoppingCard">
            <li>{{itemgroup.item.name}}</li>
            <li>amount: {{itemgroup.amount}}</li>
        </ul>
        <button (click)="placeOrder()">place order</button>
    </div>
    </div>
    <div *ngIf="orderPlaced != null">
        <h3>order placed!</h3>
        <ul *ngFor="let itemgroup of orderPlaced.items">
            <li>{{itemgroup.item.name}}</li>
            <li>price : {{itemgroup.item.price}}</li>
            <li>amount : {{itemgroup.amount}}</li>
            <li> shipping date : {{itemgroup.shippingDate}}</li>
        </ul>
        <p>total price : {{orderPlaced.totalPrice}}</p>
    </div>
    
    